.input {
  width: var(--size-square-sm);
  height: var(--size-square-sm);
  border: none;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  transition: var(--transition-hover);
}

.editable {
  cursor: pointer;
}

.editable:hover {
  outline: var(--outline-hover);
}

.output {
  border-color: var(--color-outline-selected);
}
